<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="PerformanceDashboard">
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-light bg-faded">
      <!-- Brand and toggle get grouped for better mobile display -->
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#">Performance Database</a>
      </ul>

      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" ui-sref=".dashboard" ui-sref-active>Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" ui-sref=".explore" ui-sref-active>Explore</a></li>
        <li class="nav-item"><a class="nav-link" ui-sref=".milestones" ui-sref-active>Milestones</a></li>
      </ul>

      <ul class="nav navbar-nav pull-xs-right">
        <li>
          <button type="button" class="btn btn-primary" ng-if="authenticated" ng-click="logout()">Logout</button>
        </li>
      </ul>

    </nav>

    <div ui-view></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      !function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
            (A[l].q = A[l].q || []).push(arguments)
          }, A[l].l = +new Date, a = n.createElement(g),
          r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
      }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/tether/dist/js/tether.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/explore-controller.js"></script>
    <script src="scripts/controllers/login-controller.js"></script>
    <script src="scripts/controllers/import-controller.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/milestones-controller.js"></script>
    <script src="scripts/controllers/recent-milestones.js"></script>
    <script src="scripts/controllers/manage-milestones.js"></script>
    <script src="scripts/services/milestones-service.js"></script>
    <script src="scripts/controllers/create-milestone-controller.js"></script>
    <script src="scripts/directives/performance.js"></script>
  <script src="scripts/controllers/performance-modal.js"></script>
  <!-- endbuild -->
  </body>
</html>
