<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Recent Performances
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>29th April 2016</td>
              <td>5040 Grandsire Triples</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Upcoming Milestones
        </div>
        <div class="panel-body">
          Work in progress
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Snapshot Stats
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">Total Performances</div>
              </div>
              <div class="row">
                <div class="col-xs-12">500</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">Unique Ringers</div>
              </div>
              <div class="row">
                <div class="col-xs-12">1000</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">Unique Methods</div>
              </div>
              <div class="row">
                <div class="col-xs-12">50
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">Unique Towers</div>
              </div>
              <div class="row">
                <div class="col-xs-12">10</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">Total Time</div>
              </div>
              <div class="row">
                <div class="col-xs-12">10d 9h 6m</div>
              </div>
            </div>
            <div class="col-xs-6">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Recent Milestones
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
