<div class="container-fluid">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          Recent Performances
        </div>
        <div class="card-block">
          <table class="table">
            <tr>
              <td>29th April 2016</td>
              <td>5040 Grandsire Triples</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Upcoming Milestones
        </div>
        <div class="card-block">
          <p>Work In Progress</p>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          Snapshot Stats
        </div>
        <div class="card-block">
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Total Performances</h4>
                <p class="text-xs-center">500</p>
              </div>
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Unique Ringers</h4>
                <p class="text-xs-center">1000</p>
              </div>
            </div>
            <div class="card-deck">
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Unique Methods</h4>
                <p class="text-xs-center">50</p>
              </div>
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Unique Towers</h4>
                <p class="text-xs-center">10</p>
              </div>
            </div>
            <div class="card-deck">
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Total Time</h4>
                <p class="text-xs-center">10d 9h 6m</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Recent Milestones
        </div>
        <div class="card-block">

        </div>
      </div>
    </div>
  </div>
</div>
