<div class="container-fluid">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          Recent Performances
        </div>
        <div class="card-block">
          <performance-list performances="dashboardCtrl.performances" small></performance-list>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Upcoming Milestones
        </div>
        <div class="card-block">
          <p>Work In Progress</p>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          Snapshot Stats
        </div>
        <div class="card-block">
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Total Performances</h4>
                <p class="text-xs-center">{{dashboardCtrl.snapshot.total}}</p>
              </div>
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Unique Ringers</h4>
                <p class="text-xs-center">{{dashboardCtrl.snapshot.ringers}}</p>
              </div>
            </div>
            <div class="card-deck">
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Unique Methods</h4>
                <p class="text-xs-center">{{dashboardCtrl.snapshot.methods}}</p>
              </div>
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Unique Towers</h4>
                <p class="text-xs-center">{{dashboardCtrl.snapshot.towers}}</p>
              </div>
            </div>
            <div class="card-deck">
              <div class="card card-block">
                <h4 class="card-title text-xs-center">Total Time</h4>
                <p class="text-xs-center">{{dashboardCtrl.snapshot.time}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Recent Milestones
        </div>
        <div class="card-block">
          <milestone-list milestones="dashboardCtrl.milestones" small></milestone-list>
        </div>
      </div>
    </div>
  </div>
</div>
