<nav class="navbar navbar-light bg-faded">
  <ul class="nav navbar-nav pull-xs-right">
    <li>
      <button type="button" class="btn btn-primary" ng-click="exploreCtrl.reset()">Reset</button>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="card-columns">
    <stats-widget-card ng-repeat="(filterName, listData) in exploreCtrl.filters"
                       filter-name="filterName"
                       list-data="listData"
                       select-fn="exploreCtrl.selectFilter"
                       select-obj="exploreCtrl.select">
    </stats-widget-card>
  </div>

  <div class="row">
    <div class="col col-xs-12">
      <div class="panel">
        <div class="panel-body panel-default">
          <performance-list performances="exploreCtrl.performances"></performance-list>
        </div>
      </div>
    </div>
  </div>
</div>
