<div class="container-fluid">
  <div class="row">
    <div class="col col-2 text-center">
      <nav class="nav navbar-light flex-column p-y-1">
        <button type="button" class="btn btn-primary" ui-sref=".create" ui-sref-active>New Milestone</button>
        <a class="nav-link" ui-sref=".recent" ui-sref-active>Recent</a>
        <a class="nav-link" ui-sref=".manage" ui-sref-active>Manage</a>
      </nav>
    </div>
    <div class="col col-7">
      <div ui-view></div>
    </div>
  </div>
</div>



