<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="reset()">Reset</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default">
    <!--<div class="panel-heading">-->

    <!--</div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2 pull-right">
                <button class="btn btn-primary" ng-click="reset()">Reset</button>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-3">
                <filter-selector filters="availableFilters" on-select="selectFilter"
                                 selector-obj="select"></filter-selector>
            </div>
            <div class="col col-xs-3">
                <stats-list ng-if="currentFilter" items="filters[currentFilter]" selector="select"
                            selector-key="currentFilter" update="updatePerformances"></stats-list>
            </div>

            <div class="col col-xs-6">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Performances</a></li>
                    <li><a href="#">Charts</a></li>
                </ul>
                <div ng-if="true"> <!-- TODO: Only show if the Performances tab is selected-->
                    <performance-list performances="performances"></performance-list>
                </div>
            </div>
        </div>
    </div>
</div>

</div>