<table class="table">
  <tr>
    <th>Date</th>
    <th>Milestone</th>
    <th></th>
  </tr>
  <tr ng-repeat="milestone in recentMilestonesCtrl.milestones" ng-click="recentMilestonesCtrl.selectMilestone($index)">
    <td>{{milestone.performance.date}}</td>
    <td>{{milestone.milestoneValue}} of <span ng-repeat="(key, value) in milestone.properties">{{key}} is {{value}}</span></td>
    <td>View</td>
  </tr>
</table>

<performance ng-if="recentMilestonesCtrl.selectedMilestone" show="recentMilestonesCtrl.selectedMilestone.performance"></performance>
