<table class="table">
  <tr>
    <th>Date</th>
    <th>Milestone</th>
    <th></th>
  </tr>
  <tr ng-repeat="milestone in recentMilestonesCtrl.milestones" ng-click="recentMilestonesCtrl.selectMilestone($index)">
    <td>{{milestone.performance.date}}</td>
    <td>
      <span ng-if="!recentMilestonesCtrl.emptyProperties(milestone)">{{milestone.properties}} {{milestone.milestoneValue}} of <span ng-repeat="(key, value) in milestone.properties">{{key}} is {{value}}</span></span>
      <span ng-if="recentMilestonesCtrl.emptyProperties(milestone)">All</span>
    </td>
    <td>View</td>
  </tr>
</table>

<performance ng-if="recentMilestonesCtrl.selectedMilestone" show="recentMilestonesCtrl.selectedMilestone.performance"></performance>
