<h1>Recent Milestones</h1>

<table class="table table-hover table-sm">
  <thead>
  <tr>
    <th>Date</th>
    <th>Milestone</th>
    <th></th>
  </tr>
  </thead>
  <tr ng-repeat="milestone in recentMilestonesCtrl.milestones" ng-click="recentMilestonesCtrl.selectMilestone($index)">
    <td>{{milestone.performance.date}}</td>
    <td>
      {{milestone.milestoneValue}}
      <span ng-if="!recentMilestonesCtrl.emptyProperties(milestone)">of <span
        ng-repeat="(key, value) in milestone.properties">{{key}} is {{value}}</span></span>
      <span ng-if="recentMilestonesCtrl.emptyProperties(milestone)">All</span>
    </td>
    <td>
      <button type="button" class="btn btn-primary btn-sm">View</button>
    </td>
  </tr>
</table>
