<table class="table table-hover" ng-class="{'table-sm': small}">
  <thead>
  <tr>
    <th>No.</th>
    <th>Date</th>
    <th>Changes</th>
    <th>Method</th>
    <th>Stage</th>
    <th>Location</th>
  </tr>
  </thead>
  <tr ng-repeat="quarter in performances | limitTo:maxDisplayed" ng-click="openPerformance(quarter)">
    <td>{{performances.length - $index}}</td>
    <td>{{quarter.date | amParse: 'DD-MM-YYYY' | amDateFormat: 'Do MMMM YYYY' }}</td>
    <td>{{quarter.changes}}</td>
    <td>{{quarter.method}}</td>
    <td>{{quarter.stage}}</td>
    <td>{{quarter.location.name}}</td>
  </tr>
</table>
