<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action"
        ng-repeat="item in items | filter: searchText | orderBy: item.count | limitTo: maxDisplayed"
        ng-click="select(item.property)" ng-class="active(item.property) ? 'active' : ''" ng-if="show(item.property)">
      <span class="tag tag-default tag-pill">{{item.count}}</span> {{item.property}}
    </li>
    <li class="list-group-item" ng-if="items.length > maxDisplayed" ng-click="showMore()">Show more...</li>
  </ul>
</div>
