<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row justify-content-between">

      <div>{{ filterName }}</div>

      <div class="d-flex flex-row justify-content-end">
        <div>
          <button type="button" class="btn btn-default" ng-click="view = 'chart'">
            <i class="glyphicon glyphicon-stats"></i>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-default" ng-click="view = 'list'">
            <i class="glyphicon glyphicon-list"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <stats-list ng-if="view === 'list'" items="listData" selector-key="filterName" select-fn="selectFn">
    </stats-list>
    <nvd3 ng-if="view === 'chart'" options="chartOptions(filterName)" data="chartData"></nvd3>
  </div>
</div>
